:root {
    --black: #000000;
    --white: #ffffff;
}

/* Réglages généraux */
main {
    min-height: 60vh;
    flex: 1;
    margin: 5% 0;
}

body {
    margin: 0;
    font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica, Apple Color Emoji, Arial, Segoe UI Emoji, Segoe UI Symbol;
}

header {
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Barre de navigation */
.navbar {
    background-color: var(--black);
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav-test {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline-block;
    margin: 0 10px;
}

.nav-link {
    color: var(--white);
    text-decoration: none;
}

.navbar-brand {
    color: var(--white);
    font-size: 24px;
}

.navbar-brand img {
    height: 60px;
}

.navbar-toggler {
    border: none;
    background-color: transparent;
    color: var(--white);
    font-size: 24px;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar-nav .nav-link {
    color: var(--white);
    font-size: 18px;
}

.navbar-nav .nav-link:hover {
    color: var(--white);
}

/* Cartes */
.card {
    margin-bottom: 20px;
}

.card img {
    height: 200px;
    object-fit: cover;
}

/* Bouton d'ajout de jeu */
.add-game-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

/* login et register css */
.container_inscription_login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 420px;
    perspective: 1000px;
}

/* Style pour les deux faces de la carte */
.form_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1); 
}

.front {
    background-color: var(--white);
    color: var(--black);
    text-align: center;
}

.back {
    background-color: var(--white);
    transform: rotateY(180deg);
    color: var(--black);
    text-align: center;
}

/* Effet de rotation */
.card_container.show-login .front {
    transform: rotateY(180deg);
}

.card_container.show-login .back {
    transform: rotateY(0deg);
}

.card_container.show-register .front {
    transform: rotateY(0deg);
}

.card_container.show-register .back {
    transform: rotateY(-180deg);
}

/* inscription css */
.container_inscription h2 {
    font-size: 28px;
    margin: 0 0 20px 0;
    text-align: center;
}

/* inscription css */
.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 15px 0;
}

.form-group label {
    margin-bottom: 10px;
    font-weight: bold;
}

.form-group p {
    margin: 5px 0 0; 
}

.form-group input {
    width: calc(100% - 20px);
    max-width: 400px;
    height: 35px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    padding: 5px 10px;
    color: var(--black);
    box-sizing: border-box;
    margin: 0 auto;
    border: 2px solid var(--black);
}

.form-group input::placeholder {
    color: var(--black);
}

.container_inscription .btn-inscription {
    width: 100%;
    height: 40px;
    background-color: var(--black);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: var(--white);
    font-weight: 600;
}

.container_inscription .login-link {
    font-size: 14.5px;
    margin: 20px 0 15px;
    text-align: center;
}

.login-link p {
    color: var(--black);
    margin: 5px 0 0; 
}

.login-link p a {
    color: var(--black);
    text-decoration: none;
    font-weight: 600;
}

.login-link p a:hover {
    text-decoration: underline;
}

.btn_add {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

.btn_add img {
    max-width: 100%; 
    max-height: 100%; 
}

.icone {
    width: 100px;
}

/* Style pour la pop-up */
.modal {
    display: none;
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(var(--black), 0.5); 
}

.modal-content {
    background-color: var(--white);
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px; 
}


.delete {
    position: absolute;
    top: 10px;
    right: 45px; 
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff3f3f;
    font-size: 18px; 
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

.delete:hover,
.delete:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px; 
}

.card {
    position: relative;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-size: 16px; 
    font-family: "Arial", sans-serif; 
    line-height: 1.5; 
    color: #333; 
}

.card-description {
    font-style: italic; 
    color: #666;
}

.card-title {
    font-weight: bold; 
    font-size: 18px; 
    margin-bottom: 10px;
}

.card img {
    flex: 1;
    height: auto;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-img-container {
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.card-body {
    padding: 20px;
    text-align: center;
}

.btn_modif {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

.btn_modif img {
    width: 15px;
    height: 15px;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    padding: 20px 0;
}

.top {
    width: 100%;
    background: linear-gradient(45deg, #ff0000, #0000ff);
    height: 15px;
}

.midel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.midel p {
    margin: 5px 0;
}

.button-container {
    margin-top: 10px;
}

.footer-link {
    color: var(--white);
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.footer-link:hover {
    color: #cccccc;
}

.logout-button {
    background-color: transparent;
   

 color: var(--white);
    border: 1px solid var(--white);
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10%;
}

.logout-button:hover {
    background-color: var(--white);
    color: var(--black);
}

#subject,
#message {
    width: calc(100% - 20px);
    max-width: 400px;
    height: 35px; 
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    padding: 5px 10px;
    color: var(--black);
    box-sizing: border-box;
    margin: 0 auto;
    border: 2px solid var(--black);
}

#message {
    height: 150px; 
    resize: vertical; 
}

.profile-container {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.profile-header {
    text-align: center;
}
.profile-item {
    margin: 10px 0;
}

/* Responsive */
@media only screen and (max-width: 500px) {
    
    .container_inscription_login, .card_container {
        padding: 10%;
    }

    .form_card {
        padding: 5px;
    }

    .container_inscription h2 {
        font-size: 20px;
    }

    .form-group input {
        height: 25px;
        padding: 3px;
    }

    .container_inscription .btn-inscription {
        height: 30px;
        font-size: 12px;
    }

    .container_inscription.form_card.front {
        margin: 0 10px; 
    }
    
    .midel {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        text-align: center; 
    }
    
    .midel p,
    .footer-link,
    .logout-button {
        display: block; 
        margin: 10px 0; 
    }
}


